#region-post, #region-pre, #page-header, #custommenu, #navcontainer, .navbar, #page-footer, .helplink, .homelink, #dock
{
    display: none;
}

body
{
    background : transparent;
}

#page, #page-content, #wrapper, #page-content-wrapper, .box
{
    border: 0 none;
}

#page-wrapper
{
    min-width: 700px;
}

#region-main-box, .side-pre-only #page-content #region-main
{
    left: 0;
    margin: 0;
}


#page-content #region-main-box
{
   left: 0; 
   width: inherit;
   position: inherit;
}

.region-content, #region-main, #region-main-pad
{
    float: none;
}

.side-pre-only #region-main-wrap, .side-pre-only #region-post-box
{
    width: 100%;
    position: relative;
    right: inherit;
    left: 0;
}

.box, .region-content, #region-main, #page-content, #region-main-wrap, #region-post-box, #region-main-box, #page-wrapper, body
{
    min-width: 760px;
}

.side-pre-only #region-post-box, .side-pre-only #region-main-pad, #page-content #region-post-box, #page-content #region-main
{
    margin: 0;
}

#descrLabLang
{
    display:none;
}

.generalbox
{
    margin:0;
}

.region-content
{
    padding:0;
}

#classMonitor
{
    visibility: hidden;
}